fastapi
uvicorn
python-dotenv
torch
transformers
pillow
numpy
pymupdf
langchain
langchain-community
langchain-groq
faiss-cpu
python-multipart
fastapi
uvicorn[standard]
python-dotenv
python-multipart
pillow
pymupdf
numpy
torch
transformers
langchain
langchain-community
langchain-text-splitters
langchain-groq
faiss-cpu
langchain_core

